<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ssa.test">
    <head>
        <title> Page de test de ssa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script type="text/javascript" src="../../../vendor/ssa/core/javascript/ssa.js" ></script>
        <script type="text/javascript" src="javascript.php?service=helloWorldService&type=angular"></script>
        <script type="text/javascript" src="javascript.php?service=authenticateService&type=angular"></script>
		
        <script type="text/javascript">           
            // dépendence to ssa 
            // ssa contains ssa and al your services
            var controller = angular.module('ssa.test', ['ssa']);
            controller.controller('controller', function($scope, helloWorldService, authenticateService){              
                $scope.result = {};
				$scope.info = {login : '', password : ''};
				
				$scope.run = function(){
					helloWorldService.helloYou().done(function(data){
                        $scope.result.message = data;
						$scope.$apply();
                    });
				};
				$scope.logout = authenticateService.logout;
				$scope.login = function(){
					authenticateService.login(this.info.login, this.info.password);
				};
				
                authenticateService.addDisconnectListener(function(){
					$scope.result.message = 'You are not logged';
					$scope.$apply();
				});
				
				authenticateService.addConnectedListener(function(token, userInfos){
					$scope.result.message = 'You are logged, you can call service.' + userInfos['name'];
					$scope.$apply();
				});
				
				authenticateService.addBadUserOrPasswordListener(function(){
					$scope.result.message = 'Bad loggin or password';
					$scope.$apply();
				});
            });
        </script>
    </head>
    <body ng-controller="controller">
        <button ng-click="run()"> service call </button>
        
		<span class="result">{{result.message}}</span>
		
        <form ng-submit="login()">
            <input type="text" ng-model="info.login" placeholder="Loggin"/>
			<input type="password" ng-model="info.password" placeholder="Password"/>
			
			<input type="submit"/>
        </form>
		
		<button ng-click="logout()"> Logout </button>
		
		password is admin, login is what you want.
    </body>
</html>
